/* Funzioni generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contenuto{
max-width: 1200px;
margin: 0 auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.bg-lightblue{
    background-color: #abcfe7;
}
/* Header */

#first-header{
    height: 100px;
    background-color: #e579e6;
    margin: 15px 0;
}

#second-header{
    height: 600px;
    margin-bottom: 15px;
    background-color: #e1d67a;
}

/* Main */

.container{
    background-color: #0185fc;
    margin-bottom: 15px;
}

#header-container{
    height: 50px;
    margin-bottom: 15px;
}

.container-section{
    height: 600px;
    width: 25%;
    float: left;
}

#main{
    height: 600px;
    width: calc(50% - 30px);
    float: left;
    margin: 0px 15px;
}

/* Footer */
